<div class="menu-container">
    <ul class="menu-list">
        <span class="logo">
            <img src="../../../../assets/img/ThinkingLogo.png" alt="thinking-logo" routerLink="/" class="logo-img">
            <li routerLink="/" class="menu-links">HOME</li>
        </span>
        <li routerLink="/login" class="menu-links">LONG IN</li>
        <li routerLink="/aboutUs" class="menu-links">ABOUT US</li>
    </ul>
    <ul class="menu-list-icons">
        <img src="../../../../assets/img/linkedin.png" alt="linkedin" class="menu-icon">
        <img src="../../../../assets/img/pinterest.png" alt="pinterest" class="menu-icon">
        <img src="../../../../assets/img/twitter.png" alt="twitter" class="menu-icon">
        <img src="../../../../assets/img/facebook.png" alt="facebook" class="menu-icon">
        <img src="../../../../assets/img/instagram.png" alt="instagram" class="menu-icon">
    </ul>
</div>