.entry-container {
    margin: 100px auto;
    text-align: center;
    max-width: max-content;
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-1);
}

.entry-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-3);
    padding-top: 2rem;
}

.entry-img {
    margin: 2rem auto;
    max-width: calc(90%);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-1);
}

.entry-body {
    max-width: 900px;
    padding: 1rem;
    font-family: var(--font-family-1);
}

.entry-author {
    padding: 1rem;
    font-family: var(--font-family-title);
    font-size: var(--font-size-2);
}

.entry-date {
    margin-bottom: 0;
    font-family: var(--font-family-title);
}